.bg-order-food {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url('../../assets/bg-orderFood.jpg');
    height: 100vh;
}

.order-food-text {
    margin-top: 23%;
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}


.search-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.search-form .search-icon-restaurant-name {
    color: #999;
    font-size: 20px;
    position: relative;
    right: 480px;
    top: 5px;
}

.search-form .search-icon-location {
    color: #999;
    font-size: 20px;
    position: relative;
    right: 110px;
    top: 5px;
}

.search-form .search-inputs {
    width: 150%;
    float: left;
    /* font-size: 15px; */
    color: black;
    padding-left: 30px;
    padding-right: 50px;
    margin-left: 100px;
    height: 54px;
    border: none;
    transition: .2s;
}

.search-form .search-inputs:focus::-webkit-input-placeholder {
    color:white !important;
}
.search-form .search-inputs:focus {
    background: #647685;
    color: #FFFF;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
}

.search-form form input::-webkit-input-placeholder {
    color: black;
}

.search-form form input::-moz-placeholder {
    color: black;
}

.search-form form input:-ms-input-placeholder {
    color: black;
}

.search-form form input::-ms-input-placeholder {
    color: black;
}

.search-form form input::placeholder {
    color: black;
}

.search-form form .select-option {
    position: relative;
    width: 22.5%;
    float: left;
    height: 54px;
    transition: .2s;
}

.search-form form .select-option:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #eeeeee;
    content: "";
    z-index: 1;
}

.search-form form button {
    width: 15%;
    height: 54px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    background: #f03250;
    color: #ffffff;
    text-transform: uppercase;
}