/* .bg-order-food {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url('../../assets/bg-orderFood.jpg');
    height: 100vh;
}

.order-food-text {
    margin-top: 23%;
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}


.search-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    
}

.search-form .search-icon-restaurant-name {
    color: #999;
    font-size: 20px;
    position: relative;
    right: 480px;
    top: 5px;
}

.search-form .search-icon-location {
    color: #999;
    font-size: 20px;
    position: relative;
    right: 110px;
    top: 5px;
}

.search-form .search-inputs {
    
    max-width: 580px !important;
    float: left;
    font-size: 15px;
    color: black;
    padding-left: 30px;
    padding-right: 50px;
    margin-left: 100px;
    height: 54px;
    border: none;
    border-radius: 10px;
    transition: .2s;
}

.search-form .search-inputs:focus::-webkit-input-placeholder {
    color: white !important;
}

.search-form .search-inputs:focus {
    background: #647685;
    color: #FFFF;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
}

.search-form .form-order-food .search-inputs::-webkit-input-placeholder {
    color: black;
}

.search-form .form-order-food .search-inputs::-moz-placeholder {
    color: black;
}

.search-form .form-order-food .search-inputs:-ms-input-placeholder {
    color: black;
}

.search-form .form-order-food .search-inputs::-ms-input-placeholder {
    color: black;
}

.search-form .form-order-food .search-inputs::placeholder {
    color: black;
}

.search-form .form-order-food .select-option {
    position: relative;
    width: 22.5%;
    float: left;
    height: 54px;
    transition: .2s;
}

.search-form .form-order-food .select-option:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #eeeeee;
    content: "";
    z-index: 1;
}

.search-form .form-order-food button {
    width: 15%;
    height: 54px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    background: #f03250;
    color: #ffffff;
    text-transform: uppercase;
}


@media screen and (max-width: 1000px) {
    .search-form {
        padding: 0px;
    }

    .search-form .search-inputs {

        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;

    }
} */

/*new updated*/
.bg-order-food {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url('../../assets/bg-orderFood.jpg');
    height: 100vh;
}

.order-food-text {
    margin-top: 23%;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}


.search-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;

}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}

.field-holder {
    /* width: 100%; */
    /* position: relative;
    margin: 0 0 20px; */
    /* display: inline-block;
    vertical-align: top; */
    text-align: center;
}

.search-form .search-inputs-find-rest{

    width: 100% !important;
    /* float: left; */
    font-size: 15px;
    color: black;
    padding-left: 30px;
    padding-right: 50px;
    height: 54px;
    border: none;
    border-radius: 10px;
    transition: .2s;
}

.search-form .search-icon-restaurant-name,
.search-form .search-icon-location {
    color: white;
    padding-top: 2%;
    margin-right: 3%;
    position: relative;
    top: 2px;
}


.search-form .search-inputs-find-rest:focus::-webkit-input-placeholder {
    color: white !important;
}

.search-form .search-inputs-find-rest:focus {
    background: #647685;
    color: #FFFF;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 13px 0px rgba(0, 0, 0, 0.75);
}

.search-form .form-order-food .search-inputs-find-rest::-webkit-input-placeholder {
    color: black;
}

.search-form button {
    width: 90%;
    height: 54px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    background: #f03250;
    color: #ffffff;
    text-transform: uppercase;
}

.order-food-text {
    margin-bottom: 40px;
    text-align: center;
}

@media screen and (max-width: 990px) {

    .search-form .search-icon-restaurant-name,
    .search-form .search-icon-location {
        padding-bottom: 2%;
        margin-right: 3%;
        position: relative;
        top: 2px;
    }

    .search-form button {
        width: 100%;
        margin-top: 40%;
    }
}

@media screen and (max-width: 765px) {
    .search-form button {
        width: 100%;
        margin-top: 50%;
        font-size: 10px;
    }
}
@media screen and (max-width: 576px) {
    .search-form button {
        margin-top: 0%;
        font-size: 12px;
    }
    .search-form .search-inputs-find-rest {
        margin: 3% 0%;
    }
}