.wrapper {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
}


.wrapper .left,
.wrapper .right {
    width: 100%;
    height: 50vh;
    position: relative;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-postion {
    z-index: 6;
}

/* .wrapper .middle {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
 */

.wrapper .image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s ease all;
    background-size: cover;
    background-position: center;
}

.wrapper .imagelogo {
    background-color: rgba(255, 255, 255, 0.5);
    width: 17%;
    height: 11%;
    position: absolute;
    left: 41%;
    right: 50%;
    top: 10%;
    transition: 0.25s ease all;
    border-radius: 10px 10px;
    transition: 0.25s ease all;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

.orderfood {
    background: url("images/delivery.jpg");
}

.reservation {
    background: url('images/restaurant.jpg');
}

.logo {
    background-image: url('images/logo.png');
}

.wrapper .caption {
    position: relative;
    z-index: 10;
    color: #fff;
    text-align: center;
}

.wrapper .caption h1 {
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 1em;
    color: seashell;
}

.wrapper .caption .button {
    background: #000;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.25s ease all;
}

.wrapper .caption .button:hover {
    /* background: #ffd346; */
    background: cyan;
    color: #000;
}


.wrapper .side::before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6979166666666667) 0%, rgba(0, 0, 0, 0.2721463585434174) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: '';
    display: block;
}


.wrapper .left:hover .image,
.wrapper .right:hover .image {
    transform: scale(1.2);
}

@media screen and (min-width:1200px) {

    .wrapper {
        display: flex;
    }


    .wrapper .left,
    .wrapper .right {
        width: 50%;
        height: 100vh;
    }

}

@media screen and (max-width:1200px) {

    .wrapper .imagelogo {
        width: 51%;
        height: 10%;
        left: 25%;
        right: 50%;
        top: 45%;
        transition: 0.25s ease all;
        border-radius: 10px 10px;
        transition: 0.25s ease all;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 100;
    }

    .login {
        background-size: 10px;
    }

}

@media screen and (max-width:360px) {
    .wrapper .imagelogo {
        width: 56%;
        height: 10%;
        left: 21%;
        right: 50%;
        top: 45%;
        transition: 0.25s ease all;
        border-radius: 10px 10px;
        transition: 0.25s ease all;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 100;
    }
}