.contact_adresse ul li {
    list-style: none;
    font-size: 18px;
    color: #323232;
    line-height: 34px;
    color: #a8a8a8;
    margin-top: 10px;;
    text-align: left;
}

.contact_adresse .adresse {
    margin-right: 20px;
}

.contact_adresse .email {
    margin-right: 17px;
}

.contact_adresse .tel {
    margin-right: 17px;
}

.contact_hours ul li {
    list-style: none;
    font-size: 18px;
    color: #323232;
    line-height: 34px;
    color: #a8a8a8;

    text-align: left;
}
.contact_hours .hours{
    margin-right: 15px;
}

.contact_form input {
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding-left: 24px;
    padding-right: 5px;
    font-size: 15px;
    color: #777C81;
    margin-bottom: 20px;
}