/* .header_navbar {
	position: relative;
	z-index: 999;
} */

/* .navbar-expand .navbar-nav .dropdown-menu {
	left: -74px !important;
} */

.navbar-nav .nav-link {
	color: white !important;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.8) !important;
}

/* 
.navbar-nav .nav-link:hover {
	color: #00F !important;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
	background-color: #FFFF00;
	color: #FFC0CB;
}

.navbar-nav a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0%;
	background: #f03250;
	content: "";
	opacity: 0;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
} */
.navbar-nav a,
.navbar-nav a:after,
.navbar-nav a:before {
	transition: all .5s;
}

/* style liwil */
.navbar-nav a {
	position: relative !important;
	z-index: 100 !important;
}

.navbar-nav a:hover {
	color: #91640F !important;
}

.navbar-nav a:after {
	display: block !important;
	border-radius: 20%;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	margin: auto !important;
	width: 100% !important;
	height: 1px !important;
	content: '.' !important;
	color: transparent !important;
	background: #F1C40F !important;
	visibility: none !important;
	opacity: 0 !important;
	z-index: -1 !important;
}

.navbar-nav a:hover:after {
	opacity: 1 !important;
	visibility: visible !important;
	height: 100% !important;
}

/* .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
	border-color: #e0c3fc !important;
} */


/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}


/* .toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #e0c3fc ;

    display: block;
    transition: all 0.2s;
} */





.navbar-toggler .fa-chevron-down {
    transform: rotate(180deg);
    /* transform-origin: 10% 90%; */
	transition: all 0.2s;
}

.navbar-toggler.collapsed .fa-chevron-down {
    transform: rotate(0);
	transition: all 0.2s;
}




/* .navbar-toggler-icon{
	color: #e0c3fc !important;
} */
/* style tani  */

/* .navbar-nav a,
.navbar-nav a {
	position: relative;
}

.navbar-nav a:after,
.navbar-nav a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #f03250;
	height: 1px;
}

.navbar-nav a:hover:after {
	width: 100%;
}

.navbar-nav a {
	transition: all 2s;
}

.navbar-nav a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
}

.navbar-nav a:hover {
	color: #fff;
	z-index: 1;
}

.navbar-nav a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}

@keyframes fill {
	0% {
		width: 0%;
		height: 1px;
	}

	50% {
		width: 100%;
		height: 1px;
	}

	100% {
		width: 100%;
		height: 100%;
		background: rgb(255, 127, 7);
	}
} */

.MuiSvgIcon-root{
	color:#59d2d9 !important;
}