input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="select"] {
    max-width: 280px;
}

.btnChooseCIN {
    padding: 0px 29px !important;
    font-size: 15px !important;
    margin-right: 5px;
}

.btnChooseCS {
    padding: 0px 19px !important;
    font-size: 15px !important;
    margin-left: 5px;
}

.particlesss {
    position: absolute;
    z-index: -10;
    top:0px;
    width: 100%;
    height: 100%;
    /*background-color: #FFF;*/
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
/* 
.particles {
    position: absolute;
    top: 80px;
    width: 1500px;
    height: 672px;
    z-index: 0;

}

.hnavbar {
    z-index: 1;
}

.holder {
    background-image: linear-gradient(to bottom right, #66a7ff, #81e5fe);
    z-index: 10;
    width: 1500px;
    height: 672px;
} */

.inputFile {
    background: #800080;
    border-radius: 100px;
}

.inputFile:hover {
    background: #ff80ed;
}

[type="file"] {
    overflow: hidden;
    max-width: 280px;
}

.profilePic {
    margin-right: 165px;
    position: relative;
    top: 7px;
    background-color: white;
    z-index: 10;
    font-size: 14px;
    ;
    color: rgba(0, 0, 0, 0.54);
}

.borderInput {
    position: relative;
    bottom: 10px;
    border: 2px solid #dee2e6 !important;
    border-radius: .25rem !important;
    padding: 15px 0px;
    margin: 0px 130px;
}

/* .btn-1 {
    background: #ffd700 !important;
    box-shadow: 0 6px #ffa500 !important;
}

.btn-1:hover {
    box-shadow: 0 0 #ffa500 !important;
} */