.filter {
    float: none;
    /* margin-top: 10%;
    margin-left: 1%;
    width: 13%; */
    position: relative;
    width: 50%;
    /* right: 20%; */
    right:-5%;
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 14px rgb(0 0 0 / 10%);
    /* left:20%; */
    /* box-shadow: 0px 5px 14px rgb(0 0 0 / 10%); */
}

.listing {
    float: left;
    margin-top: 2%;
    /* margin-left: 2%; */
    box-shadow: 0px 5px 14px rgb(0 0 0 / 10%);
    width: 60%;
    padding: 0% 1%;
    /* background-color: brown; */
}

.listing__map {
    width: 36%;
    float: left;
    margin-top: -5%;
    margin-left: 2%;
    /* box-shadow: 0px 5px 14px rgb(0 0 0 / 10%); */
    /* position: sticky; */

}

.bg-fetched-data {
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    clear: both;
    background-image: url('../../assets/bg-fetcheddata.jpg'); */
    background-color: #8EC5FC;
    background-image: linear-gradient(180deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    /* background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%); */

    float: left;
    width: 100%;
    /* height: 100vh; */
}

.fetchedData img {
    height: 200px;
    width: 100%;
}

/* .fetchedData .item {
    padding-left: 5px;
    padding-right: 5px;
} */

.fetchedData .item-card {
    transition: 0.5s;
    cursor: pointer;
}

.fetchedData .item-card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.fetchedData .item-card-title h6 {
    margin-top: 0px;





    color: #00acc1;
}

/* .fetched-data-text {
    margin-top: 40%;
} */

/* .fetchedData .item-card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710
} */

.fetchedData .card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;

}

.fetchedData .card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/* .fetchedData .card-text {
    height: 80px;
} */

.fetchedData .card::before,
.fetchedData .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.fetchedData .card::before {
    transform-origin: left top;
}

.fetchedData .card::after {
    transform-origin: right bottom;
}

.fetchedData .card:hover::before,
.fetchedData .card:hover::after,
.fetchedData .card:focus::before,
.fetchedData .card:focus::after {
    transform: scale3d(1, 1, 1);
}

/* .fetchedData .stars{
    display: inline;
} */
.box-filter .btn {
    border: none;
    /* font-family: 'Lato'; */
    /* font-size: inherit; */
    /* color: inherit; */
    /* background: none; */
    cursor: pointer;
    padding: 5px 40px;
    /* display: inline-block; */
    margin: 5px 10px;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* font-weight: 700; */
    /* outline: none; */
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.box-filter .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
/* .box-filter .btn:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
} */


/* Icon separator */
.box-filter .btn-sep {
    margin: 0px 20px 0px 0px;
}

.box-filter .btn-sep:before {
    background: rgba(0, 0, 0, 0.15);
}

/* Button 1 */

.box-filter .btn-1 {
    /* background: #3498db; */
    background: #f03250;
    color: #fff;
}

.box-filter .btn-1:hover {
    /* background: #2980b9; */
    background: #c0392b;
}

.box-filter .btn-1:active {
    background: #2980b9;
    top: 2px;
}

.box-filter .btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 2 */
.box-filter .btn-2 {
    /* background: #2ecc71; */
    background: #f03250;
    color: #fff;
}

.box-filter .btn-2:hover {
    /* background: #27ae60; */
    background: #c0392b;
}

.box-filter .btn-2:active {
    background: #27ae60;
    top: 2px;
}

.box-filter .btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 3 */
.box-filter .btn-3 {
    /* background: #e74c3c; */
    background: #f03250;
    color: #fff;
}

.box-filter .btn-3:hover {
    background: #c0392b;
}

.box-filter .btn-3:active {
    background: #c0392b;
    top: 2px;
}

.box-filter .btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}


.disabled-link-router{
    color: #000 !important;
    text-decoration: none !important;

    background-color: none !important;
}